{% extends 'base.html' %}
<!--  -->
{% block head %}
<!--  -->
<title>password change</title>
<!--  -->
{% endblock %}
<!--  -->
{% block body %}
<!--  -->
<div class="flex justify-center items-center min-h-screen">
  <div class="bg-gray-800 p-8 rounded-xl shadow-lg w-full max-w-lg text-white">
    <h2 class="text-3xl font-semibold text-center mb-6">Change password</h2>

    {% if form.non_field_errors %}
    <div class="my-4 text-red-400 ml-4 font-bold">
      {% for error in form.non_field_errors %}
      <li>{{error}}</li>
      {% endfor %}
    </div>
    {% endif %}

    <form method="post" class="space-y-6">
      {% csrf_token %}

      <!-- old_Password -->
      <div>
        <label for="old_password" class="block text-sm font-medium"
          >current password</label
        >
        <input
          type="password"
          id="old_password"
          name="old_password"
          placeholder="Enter your current password"
          required
          class="mt-2 px-4 py-2 w-full rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        />
        {% if form.old_password.errors %}
        <div class="ml-4 my-1">
          {% for error in form.old_password.errors %}
          <li>{{error}}</li>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <!--new  Password 1 -->
      <div>
        <label for="new_password1" class="block text-sm font-medium"
          >new password</label
        >
        <input
          type="password"
          id="new_password1"
          name="new_password1"
          placeholder="Enter new password"
          required
          class="mt-2 px-4 py-2 w-full rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        />
        {% if form.new_password1.errors %}
        <div class="ml-4 my-1">
          {% for error in form.new_password1.errors %}
          <li>{{error}}</li>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <!--new  Password 2 -->
      <div>
        <label for="new_password2" class="block text-sm font-medium"
          >confirm new password</label
        >
        <input
          type="password"
          id="new_password2"
          name="new_password2"
          placeholder="Confirm new password"
          required
          class="mt-2 px-4 py-2 w-full rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        />

        {% if form.new_password2.errors %}
        <div class="ml-4 my-1">
          {% for error in form.new_password2.errors %}
          <li>{{error}}</li>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <!-- Submit Button -->
      <div>
        <button
          type="submit"
          class="w-full py-3 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
