{% extends 'base.html' %}
<!--  -->
{% block head %}
<!--  -->
<title>{{user.username}}</title>
<!--  -->
{% endblock %}
<!--  -->
{% block body %}
<!--  -->

<div class="w-full h-screen flex items-start">
  <div
    class="max-h-[90%] text-gray-700 font-bold w-[90%] mx-auto mt-10 shadow shadow-black shaodw-2xl rounded p-4"
  >
    <p class="text-3xl">
      {{request.user.first_name}} {{request.user.last_name}}
    </p>
    <p>@{{request.user.username}}</p>
    <p>{{request.user.email}}</p>
  </div>
</div>

<!--  -->
{% endblock %}
