{% extends 'base.html' %}
<!--  -->
{% block head %}
<!--  -->
<title>Signin</title>
<!--  -->
{% endblock %}
<!--  -->
{% block body %}
<!--  -->
{% if messages %}
<div class="text-center">
  {%for mess in messages%}
  <h1 class="text-center text-xs text-gray-700 font-bold uppercase pt-2">
    {{mess}}
  </h1>
  {% endfor %}
</div>
{% endif %}

<div class="flex justify-center items-start min-h-screen">
  <div
    class="p-8 bg-gray-800 lg:rounded-xl shadow-lg max-w-[90%] rounded-lg mt-5 text-white lg:mt-20 sm:mt-10 shadow-black shadow-2xl"
  >
    <h2 class="text-3xl font-semibold text-center mb-6">Sign In</h2>

    {% if form.non_field_errors %}
    <div class="my-4 ml-4 font-bold">
      {% for error in form.non_field_errors %}
      <li>{{error}}</li>
      {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'signin' %}" method="post" class="space-y-6">
      {% csrf_token %}

      <!-- Email -->
      <div class="font-bold">
        <label for="email" class="block text-sm font-medium">Email</label>
        <input
          type="email"
          id="email"
          name="username"
          placeholder="Enter your email"
          required
          class="mt-2 px-4 py-2 w-full rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        />

        {% if form.username.errors %}
        <div class="ml-4 my-1">
          {% for error in form.username.errors %}
          <li>{{error}}</li>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <!-- Password -->
      <div>
        <label for="password" class="block text-sm font-medium">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
          class="mt-2 px-4 py-2 w-full rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        />

        {% if form.password.errors %}
        <div class="ml-4 my-1">
          {% for error in form.password.errors %}
          <li>{{error}}</li>
          {% endfor %}
        </div>
        {% endif %}

        <a href="{% url 'password_reset' %}">forgot password</a>
      </div>

      <!-- Submit Button -->
      <div>
        <button
          type="submit"
          class="w-full py-3 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
          Sign in
        </button>

        <div class="text-center mt-5">
          <a class="font-bold hover:text-blue-600" href="{% url 'signup' %}"
            >create account</a
          >
        </div>
      </div>
    </form>
  </div>
</div>

<!--  -->
{% endblock %}
